.login{
    width: 100%;
    height: 80vh;
    background: linear-gradient(180deg, #0B0C10, #1F2838 60%)0;
}
.login-container{
    width: 580px;
    height: 600px;
    background: #C5C6C7;
    margin: auto;
    padding: 40px 60px;
    justify-content: center;
    margin-top: 100px;
}
.login-container h1{
    margin: 20px 0px;
}
.login-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.login-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid white;
    outline: none;
    color: gray;
    font-size: 18px;
}
.login-container button{
    width: 580px;
    height: 72px;
    color: #0B0C10;
    background: #45A29E;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.login-login{
    margin-top: 20px;
    color: #0B0C10;
    font-size: 18px;
    font-weight: 500;
}
.login-login span{
    color: #45A29E;
    font-weight: 600;
}
.login-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #0B0C10;
    font-size: 18px;
    font-weight: 500;
}
