.admin-category-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  input {
    padding: 8px;
    margin: 5px;
    font-size: 1em;
  }
  
  button {
    padding: 10px 15px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button:hover {
    background-color: #ddd;
  }
  